<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход в систему</title>
    <link rel="stylesheet" th:href="@{/css/auth-style.css}"> </head>
<body>
<div class="auth-container">
    <div class="auth-header">
        <a th:href="@{/}" class="app-logo"><span>Расписание</span></a>
        <h2>Вход в систему</h2>
    </div>

    <div th:if="${param.error}" class="message error-message">
        Неправильный логин или пароль.
    </div>
    <div th:if="${param.logout}" class="message success-message">
        Вы успешно вышли из системы.
    </div>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="username">Логин:</label>
            <input type="text" id="username" name="username" class="form-control" required autofocus>
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="button-auth-primary">Войти</button>
    </form>

</div>
</body>
</html>